{% extends "base.html" %}

{% load static %}
{% block header %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{{category.name}} products{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/category-products.css' %}">
{% include "header.html"%}

{% endblock %}

{% block content %}
  
  <h2 style="text-align:center;">{{ category.name }} 🛍️</h2>
  <div class="grid">
    {% for product in products %}
     
    <div class="card">
        <a href="{% url 'product_detail' product.slug %}">
      <img src="{{ product.product_image.image.url }}" alt="{{ product.name }}">
      <a href="{% url 'product_detail' product.slug %}"><h4>{{ product.name }}</h4></a>
      
      <p>₦{{ product.discountedprice }}</p>
      <a class="btn" href="{% url 'add-to-cart' product.id %}">Add to Cart</a>
      </a>
    </div>
   
    {% empty %}
      <p>No products available in this category.</p>
    {% endfor %}
  </div>
{% endblock %} 
