{% extends "base.html" %}
{% load static %}
 
{% block header %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Cart{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% include "header.html"%}

{% endblock %}
{% block content %}

{% if cart_items %}
<div class="container">
  <h2 class="cart_title">🛒 My Cart</h2>

  {% for item in cart_items %}
  <div class="cart-item">
    <img src="{{ item.product.product_image.image.url }}" alt="{{ item.product.name }}">
    <div class="item-info">
      <h4>{{ item.product.name }}</h4>
      <p>₦{{ item.get_total }}</p>
    </div>
    <div class="item-actions">
      <div class="quantity">
        <!-- Decrease -->
        <form action="{% url 'decrease_quantity' item.id %}" method="post">
          {% csrf_token %}
          <button type="submit">-</button>
        </form>

        <span>{{ item.quantity }}</span>

        <!-- Increase -->
        <form action="{% url 'increase_quantity' item.id %}" method="post">
          {% csrf_token %}
          <button type="submit">+</button>
        </form>
      </div>

      <!-- Remove -->
      <form action="{% url 'remove_item' item.product.id %}" method="post">
        {% csrf_token %}
        <button class="remove-btn">Remove</button>
      </form>
    </div>
  </div>
  {% endfor %}

  <!-- Summary -->
  <div class="cart-summary">
    <div class="summary-row">
      <span>Subtotal</span>
      <span>₦{{ subtotal }}</span>
    </div>
    <div class="summary-row">
      <span>Shipping</span>
      <span>₦0.00</span>
    </div>
    <div class="summary-row" style="font-weight: bold;">
      <span>Total</span>
      <span>₦{{ subtotal }}</span>
    </div>
  </div>

  <a href="{% url 'shipping' %}">
    <button class="checkout-btn">Checkout</button>
  </a>
</div>
{% else %}
<h2 class="cart_title">Cart is Empty</h2>
<h3 class="cart_title"><a href="{% url 'index' %}">Shop Products</a></h3>
{% endif %}

{% endblock %}