{% load static %}
   <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <div class="foot">
    <div style="display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;gap:10px">
      <div><strong>TrustBuySell</strong><div class="muted">Serving Adamawa sellers & buyers</div></div>
      <div class="muted">Contact: 07041696102</div>
    </div>
    <div class="muted" style="font-size:13px">© {{ now|date:"Y" }} TrustBuySell — All rights reserved.</div>
  </div>


<script src="{% static '/js/main.js' %}"></script>